TELEGRAM_BOT_TOKEN=
VPNAPI_BASE_URL=http://vpnapi:8080
VPNAPI_INTERNAL_TOKEN=change-me
MINI_APP_URL=https://app.surfervpn.example
SUPPORT_CONTACT=@surfervpn_support
SUPPORT_TELEGRAM_URL=https://t.me/surfervpn_support
